<!DOCTYPE html>
<html>
<body>
<%= wicked_pdf_stylesheet_link_tag 'application', media: 'all' %>
<%= wicked_pdf_image_tag("sba-logo.png", id: "sba-logo", alt: "U.S. Small Business Administration logo") %>
<img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&key=AIzaSyC_csaLXMscbO5cayEkuvoC0_jexoG6-Y0" />


</body>
</html>
