<!DOCTYPE html>
<html>
<body>

<img src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&key=AIzaSyC_csaLXMscbO5cayEkuvoC0_jexoG6-Y0" />


</body>
</html>
